
#container-profile {
    display: flex;
    align-items : center;
    justify-content: center;

    padding: 0px;
    gap: 10px;


    img {
        border-radius: 50%;
        height: 400px;
        width: 400px;

        border: 5px solid rgb(0, 255, 110);
        margin: 20px 0px;
    }
}

