:root {
    --color--background: #181818;
    --color--foreground: #121212;
    --color--primary: #00ff6e;
    --color--secondary: #3943B7;
}


#container-profile {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    gap: 10px;


    img {
        border-radius: 50%;
        height: 400px;
        width: 400px;

        border: 5px solid var(--color--primary);
        margin: 20px 0px;
    }
}