#container-profile {
    width: 500px;
    height: 100vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;

    background-color: rgb(61, 65, 69);

    img {
        border-radius: 50%;
        height: 300px;
        width: 300px;

        border: 10px solid blue;
        margin: 20px 0px;
    }
}

