#container-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    min-height: 850px;
}

#container-profile img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    border: 5px solid rgb(0, 255, 110);
    margin: 20px 0px;
}

#image-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.profile-img {
    display: block;
    object-fit: cover;

    box-sizing: border-box;

    border: 4px solid #00ff6e;
}

#description {
    max-width: 900px;

    h1{
        margin-bottom: 20px;
        color: #00ff6e;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
        text-align: justify;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        border: 3px solid #00ff84;
        border-radius: 50%;

        overflow: hidden;
    }

    a:hover {
        cursor: pointer;

        background-color: #00ff6e;
        transition: all .5s ease-in-out;
    }

    a:hover .icon {
        color: #181818;
        transition: all .5s ease-in-out;
    }

}

#description-icons>a>.icon {
    font-size: 28px;
}

#description-icons {
    margin-top: 30px;
    display: flex;
    gap: 15px;

}