#container-profile {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 20px 0px;
    gap: 20px;

    h1 {
        margin-bottom: 20px;
        color: #00ff6e;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        border: 3px solid #00ff84;
        border-radius: 50%;

        overflow: hidden;
    }

    a:hover {
        background-color: #00ff6e;
        transition: all .5s ease-in-out;
        .icon {
            color: #181818;
            transition: all .5s ease-in-out;
        }
    }

}

#description-icons>a>.icon {
    font-size: 28px;
}

#description-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;

}