#container-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    background-color: rgb(36, 36, 36);
    border: 2px solid #00ff6e;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        
        border: 2px solid #00ff6e;
        gap: 10px;
        padding: 5px 15px;

        height: 20px;
        border-radius: 20px;

        background-color: #00ff6e;
        color: black;
    }

    a:hover{
        cursor: pointer;

        color: #00ff6e;
        background-color: #00000000;

        border: 2px solid #00ff6e;
        transition: all .5s ease-in-out;
    }

    .icon {
        color: #000000;
    }
    a:hover {
        box-shadow: 0 0 10px #00ff6e;
        transition: all .5s ease-in-out;
        
        .icon {
            color: #00ff6e;
            transition: all .5s ease-in-out;
        }
    }
}

.project-card:hover {
    box-shadow: 0 0 10px #00ff6e;
}

